.countryInput {
  width: 400px;
  margin-left: 37%;
}

.label {
  font-size: 50px;
}

.select {
  margin-top: 20px;
  opacity: 0.8;
  font-size: 20px;
}

.option {
  opacity: 1;
}

.submit {
  margin-left: 20px;
  font-size: 20px;
}
